<!DOCTYPE html>
<!--<html ng-app="ssh2-web">-->
<html ng-app="">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="AngularJs/angular.js" type="text/javascript"></script>
    <script src="Socket.io/socket.io-1.2.0.js" type="text/javascript"></script>
    <script src="javascripts/core.js" type="text/javascript"></script>

  </head>
  <body ng-controller="dashboardController">
  <h4>ssh2-web</h4>
  <div class="header">
    <div class="input-item">
      <span>Host : </span>
      <input type="text">
    </div>
    <div class="input-item">
      <span>Password : </span>
      <input type="password">
    </div>
    <span class="btn-item">连接</span>

  </div>
  <p class="result">{{result}}</p>
  <div class="command-line">
    <span class="username">{{username}} : {{current_path}} $</span>
    <input class="command-input" type="text" autofocus="" ng-model="current_command" ng-keydown="exceCommands($event)">
  </div>
  </body>
</html>
